@import "medidas";
@import "colors";

@mixin display{
  display: inline-block;
}

@mixin flex($content,$items){
  display: flex;
  justify-content: $content;
  align-items: $items;
}

@mixin espacios($valor1,$valor2,$valor3,$valor4,$valor5){
  padding-left  : $valor1;
  padding-bottom: $valor2;
  margin-bottom : $valor3;
  margin-right  : $valor4;
  margin-top    : $valor5;
}

@mixin enlace{
  text-align: right;
  color: #4285f4;
}

body{
  font-family: 'Open Sans', sans-serif;
  @include espacios(2rem);
  color: $color-text;
  box-sizing: border-box;
}

hr{
  border: 2px solid #4285f4;
}

header {
  @include espacios(none,6rem);
  .titulo {
    @include flex(center,center);
    .imagen {
      width: $medida-logo;
    }
  }

  ul {
    @include flex(center,none);
    list-style: none;
    li {
      @include espacios(none,1rem,none,2rem);
      color: $color-lista;
    }
    li:hover {
      border-bottom: 2px solid $color-hover;
      cursor: pointer;
    }
  }
}

.podcast{
  text-align: left;
  @include espacios(none,none,6rem,none);
  img {
    width: 72rem;
  }
  h1{
    @include espacios(none,none,none,none,3rem);
    font-size: 36px;
    color: $color-gray-dark;
  }
}

.news{
  @include espacios(none,none,6rem,none,none);
  .newsfeed{
    cursor: pointer;
    @include espacios(none,none,none,3rem,none);
    @include display;
    img{
      width: $medida-img;
    }
  }

  .morenews{
    cursor: pointer;
    @include display;
    .more{
      @include enlace;
    }
    .card{
      @include flex(space-around,center);
      background-color:#e2e2e2;
      p:last-child{
        color: #4285f4;
      }
    }
  }
}

.resources{
  .post {
    @include display;
    img {
      width: $medida-img;
    }
    .asana{
      @include flex(flex-start,center);
      img{
        width: 4rem;
        border-radius: 50%;
      }
    }
    .medium {
      @include flex(none,center);
      .icon {
        width: $medida-icon;
      }
    }
  }
}

.recognition{
  .brand {
    @include display;
    img {
      width: 20rem;
    }
  }
}